In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('data/us_counties_population_est_2019.csv')
df.head()

,state_fips,county_fips,region,state_name,county_name,area_land,area_water,internal_point_lat,internal_point_lon,pop_est_2018,pop_est_2019,births_2019,deaths_2019,international_migr_2019,domestic_migr_2019,residual_2019
0,1,1,3,Alabama,Autauga County,1539602137,25706961,32.532237,-86.646439,55533,55869,624,541,-16,270,-1
1,1,3,3,Alabama,Baldwin County,4117621645,1132980868,30.659218,-87.746067,217855,223234,2304,2326,80,5297,24
2,1,5,3,Alabama,Barbour County,2292160139,50523213,31.870253,-85.405103,24872,24686,256,312,13,-141,-2
3,1,7,3,Alabama,Bibb County,1612167476,9602089,33.015893,-87.127148,22367,22394,240,252,10,31,-2
4,1,9,3,Alabama,Blount County,1670103866,15015467,33.977357,-86.566440,57771,57826,651,657,6,59,-4

In [6]:
# count of rows and columns
df.shape

(3142, 16)

In [7]:
# information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state_fips               3142 non-null   int64
 1   county_fips              3142 non-null   int64
 2   region                   3142 non-null   int64
 3   state_name               3142 non-null   object
 4   county_name              3142 non-null   object
 5   area_land                3142 non-null   int64
 6   area_water               3142 non-null   int64
 7   internal_point_lat       3142 non-null   float64
 8   internal_point_lon       3142 non-null   float64
 9   pop_est_2018             3142 non-null   int64
 10  pop_est_2019             3142 non-null   int64
 11  births_2019              3142 non-null   int64
 12  deaths_2019              3142 non-null   int64
 13  international_migr_2019  3142 non-null   int64
 14  domestic_migr_2019       3142 non-null   int64
 15  residual_2019            3142 non-null   int64
dtypes: float64(2), int64(12), object(2)
memory usage: 392.9+ KB

#### descriptive statistics of the dataset
+ sums, average, medians, and modes of the population and death analysis

In [5]:
# summary statistics
df[['pop_est_2018','pop_est_2019','births_2019','deaths_2019']].describe()

       pop_est_2018  pop_est_2019    births_2019   deaths_2019
count  3.142000e+03  3.142000e+03    3142.000000   3142.000000
mean   1.039744e+05  1.044683e+05    1206.782941    902.303628
std    3.326418e+05  3.334567e+05    4004.757726   2474.717414
min    8.600000e+01  8.600000e+01       0.000000      0.000000
25%    1.090925e+04  1.090250e+04     117.000000    120.000000
50%    2.577850e+04  2.572600e+04     283.000000    282.000000
75%    6.791025e+04  6.807275e+04     763.000000    699.000000
max    1.007391e+07  1.003911e+07  112963.000000  68164.000000

In [12]:
# Calculate sums
sums = df[['pop_est_2018', 'pop_est_2019', 'births_2019', 'deaths_2019']].sum()

# Calculate modes
modes = df[['pop_est_2018', 'pop_est_2019', 'births_2019', 'deaths_2019']].mode()

print("Sums:\n", sums)
print("Modes:\n", modes)

Sums:
 pop_est_2018    326687501
pop_est_2019    328239523
births_2019       3791712
deaths_2019       2835038
dtype: int64
Modes:
    pop_est_2018  pop_est_2019  births_2019  deaths_2019
0          2600          2530         86.0         57.0
1         16635         14651          NaN          NaN

#### alternatively

In [17]:
# Calculate sums
print(f"Total Population 2018: {df['pop_est_2018'].sum()}")
print(f"Total Population 2019: {df['pop_est_2019'].sum()}")
print(f"Total Deaths 2019: {df['deaths_2019'].sum()}")
print(f"Total Births 2019: {df['births_2019'].sum()}")

# Calculate averages
print(f"Average Population 2018: {df['pop_est_2018'].mean()}")
print(f"Average Population 2019: {df['pop_est_2019'].mean()}")
print(f"Average Deaths 2019: {df['deaths_2019'].mean()}")
print(f"Average Births 2019: {df['births_2019'].mean()}")

# Calculate medians
print(f"Median Population 2018: {df['pop_est_2018'].median()}")
print(f"Median Population 2019: {df['pop_est_2019'].median()}")
print(f"Median Deaths 2019: {df['deaths_2019'].median()}")
print(f"Median Births 2019: {df['births_2019'].median()}")

# Calculate modes
print(f"Mode Population 2018: {df['pop_est_2018'].mode()[0]}")
print(f"Mode Population 2019: {df['pop_est_2019'].mode()[0]}")
print(f"Mode Deaths 2019: {df['deaths_2019'].mode()[0]}")
print(f"Mode Births 2019: {df['births_2019'].mode()[0]}")

Total Population 2018: 326687501
Total Population 2019: 328239523
Total Deaths 2019: 2835038
Total Births 2019: 3791712
Average Population 2018: 103974.37969446213
Average Population 2019: 104468.33959261616
Average Deaths 2019: 902.3036282622534
Average Births 2019: 1206.7829408020368
Median Population 2018: 25778.5
Median Population 2019: 25726.0
Median Deaths 2019: 282.0
Median Births 2019: 283.0
Mode Population 2018: 2600
Mode Population 2019: 2530
Mode Deaths 2019: 57
Mode Births 2019: 86

In [25]:
statistical_data={'Total Population 2018':df['pop_est_2018'].sum(),'Total Population 2019':df['pop_est_2019'].sum(),'Total Deaths 2019':df['deaths_2019'].sum(),'Total Births 2019':df['births_2019'].sum(),'Average Population 2018':df['pop_est_2018'].mean(),'Average Population 2019':df['pop_est_2019'].mean(),'Average Deaths 2019':df['deaths_2019'].mean(),'Average Births 2019':df['births_2019'].mean(),'Median Population 2018':df['pop_est_2018'].median(),'Median Population 2019':df['pop_est_2019'].median(),'Median Deaths 2019':df['deaths_2019'].median(),'Median Births 2019':df['births_2019'].median(),'Mode Population 2018':df['pop_est_2018'].mode()[0],'Mode Population 2019':df['pop_est_2019'].mode()[0],'Mode Deaths 2019':df['deaths_2019'].mode()[0],'Mode Births 2019':df['births_2019'].mode()[0]}

df_1=pd.Series(statistical_data)
df_1.head(16)

Total Population 2018      3.266875e+08
Total Population 2019      3.282395e+08
Total Deaths 2019          2.835038e+06
Total Births 2019          3.791712e+06
Average Population 2018    1.039744e+05
Average Population 2019    1.044683e+05
Average Deaths 2019        9.023036e+02
Average Births 2019        1.206783e+03
Median Population 2018     2.577850e+04
Median Population 2019     2.572600e+04
Median Deaths 2019         2.820000e+02
Median Births 2019         2.830000e+02
Mode Population 2018       2.600000e+03
Mode Population 2019       2.530000e+03
Mode Deaths 2019           5.700000e+01
Mode Births 2019           8.600000e+01
dtype: float64

In [31]:
df_2=pd.DataFrame(statistical_data,index=['Value']).T
df_2.head(16)

                                Value
Total Population 2018    3.266875e+08
Total Population 2019    3.282395e+08
Total Deaths 2019        2.835038e+06
Total Births 2019        3.791712e+06
Average Population 2018  1.039744e+05
Average Population 2019  1.044683e+05
Average Deaths 2019      9.023036e+02
Average Births 2019      1.206783e+03
Median Population 2018   2.577850e+04
Median Population 2019   2.572600e+04
Median Deaths 2019       2.820000e+02
Median Births 2019       2.830000e+02
Mode Population 2018     2.600000e+03
Mode Population 2019     2.530000e+03
Mode Deaths 2019         5.700000e+01
Mode Births 2019         8.600000e+01